### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

### VisualStudioCode ###
.vscode/*

# Local History for Visual Studio Code
.history/

### Gradle ###
.gradle
build/

### Gradle ###
.idea
